*{
    padding: 0;
    margin: 0;
    box-sizing: border;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-color{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.bg-1{
    flex: 1;
    background-color: aqua;
}

.bg-2{
    flex: 1;
    background-color: aquamarine;
}

.about-container{
    width: 85%;
    height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.image-container{
    flex: 1;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 500px;
    height: 500px;
}

.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container h1{
    font-size: 50px;
    padding: 10px 0;
}